<div class="panel panel-default text-center">
    <div class="panel-heading">
        All NSA indexed queries
    </div>
    <div class="panel-body">
        <p>
            Below are all keywords indexed by the NSA
        </p>
        {% include 'NSAQueryCreatorBundle:Default:addNewQuery.html.twig' %}
    </div>

    <ul class="list-group" id="sortable">
        {% for query in queries %}
            <li class="list-group-item">
                <a href="https://www.google.de/search?q={{ query.query }}" target="_blank" type="button"
                   class="btn btn-default btn-block glyphicon glyphicon-link">
                    {{ query.query }}
                    <span class="badge">
                    {{ query.id }}
                </span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
