<div class="fadeMe" id="fadeMeLoadingOverlay">
    {{ fadeMeText|raw|nl2br }}
</div>
<script type="text/javascript">
    var element = document.getElementById('fadeMeLoadingOverlay').style.display = 'block';
</script>
