{% extends 'NSAQueryCreatorBundle:Default:layout.html.twig' %}
{% block footer %}
    <footer>
        <div class="copyrightContainer well" id="copyrightFooterContainer">
            <p>
                &copy; The
                People {% if yearICreatedThis != thisYear %} {{ yearICreatedThis }} &mdash; {% endif %} {{ thisYear }}
            </p>
        </div>
    </footer>
{% endblock footer %}
